@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext");
* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

a {
  color: white;
  text-decoration: none; }

body {
  padding-top: 100px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.header {
  max-width: 1170px;
  margin: 0 auto;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__burger {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #f7f7f7;
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer; }
  .header-outside {
    margin-top: -100px;
    z-index: 99999;
    width: 100%;
    background: #2d2d30;
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);
    position: fixed; }
  .header__logo {
    -webkit-box-flex: 1px;
    -webkit-flex-grow: 1px;
        -ms-flex-positive: 1px;
            flex-grow: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
    color: #c5c5c5;
    font-weight: 900;
    cursor: default;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s; }
    .header__logo_first-letter {
      font-size: 46px;
      font-weight: 400;
      color: #7bb9b3;
      -webkit-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s; }
    .header__logo:hover {
      color: #d2d2d2; }
      .header__logo:hover .header__logo_first-letter {
        color: #9ccbc6; }
  .header__menu {
    -webkit-box-flex: 1px;
    -webkit-flex-grow: 1px;
        -ms-flex-positive: 1px;
            flex-grow: 1px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__menu__item {
      min-height: 96px;
      line-height: 96px;
      margin: 0 30px;
      font-family: Lato;
      font-size: 10px;
      font-weight: 900;
      color: #d5d5d5;
      text-transform: uppercase;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      border-bottom: 4px solid #2d2d30; }
      .header__menu__item:hover {
        color: #e5e5e5; }

.slider__img {
  max-height: 650px;
  min-height: 400px;
  width: 200%; }

.slider-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 999;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .slider-content__header {
    color: #f7f7f7;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 700;
    font-size: 40px; }
  .slider-content__subheader {
    color: #f7f7f7;
    margin-bottom: 30px;
    font-family: Lato;
    font-weight: 400;
    font-size: 30px; }
  .slider-content__button {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    color: #f7f7f7;
    padding: 15px 20px;
    border: 1px solid #f7f7f7;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 900;
    font-size: 12px; }
    .slider-content__button:hover {
      color: #c4c4c4;
      border-color: #c4c4c4; }

.slider-wrapper {
  max-height: 650px;
  position: relative; }

.swrapper {
  background: #f7f7f7; }

.services {
  max-width: 1170px;
  min-height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .services-line {
    height: 1px;
    width: 30px;
    background: #c5c5c5; }
  .services__header {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "Lato";
    color: #525257;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center; }
  .services__subheader {
    font-size: 20px;
    font-family: "Lato";
    color: #929292;
    text-align: center;
    margin-bottom: 20px; }
  .services-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .services-items__item {
      min-height: 230px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-flex-basis: 270px;
          -ms-flex-preferred-size: 270px;
              flex-basis: 270px;
      margin: 10px 10px; }
      .services-items__item__header {
        font-size: 14px;
        font-family: "Lato";
        color: #464646;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900; }
      .services-items__item__text {
        font-size: 14px;
        font-family: "Lato";
        color: #858585;
        text-align: center; }

.items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-basis: 580px;
      -ms-flex-preferred-size: 580px;
          flex-basis: 580px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.featureswrapper {
  background: #f1f1f1; }

.features {
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 900px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .features__image {
    width: 100%; }
  .features__header, .features__subheader {
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Lato";
    color: #2d2d30;
    text-transform: uppercase;
    font-weight: 900; }
  .features__subheader {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    color: #929292;
    text-transform: none;
    font-size: 20px; }
  .features__text {
    max-width: 760px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Lato";
    color: #5e5e65;
    line-height: 1.786; }
  .features__button, .blog__button {
    font-weight: 900;
    text-align: center;
    font-size: 12px;
    font-family: "Lato";
    text-transform: uppercase;
    line-height: 42px;
    color: #f7f7f7;
    width: 160px;
    height: 42px;
    background: #7bb9b3;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 7px; }
    .features__button:hover, .blog__button:hover {
      background: #9ccbc6; }
    .features__button_black {
      background: #2d2d30; }
      .features__button_black:hover {
        background: #46464a; }

.fbwrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.workswrapper {
  background: #2d2d30; }

.works {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 530px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 90px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .works-descr {
    margin-right: 30px;
    -webkit-flex-basis: 270px;
        -ms-flex-preferred-size: 270px;
            flex-basis: 270px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
    padding-bottom: 40px; }
  .works__header {
    font-size: 16px;
    font-weight: 900;
    font-family: "Lato";
    color: #dfdfdf;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .works__subheader {
    font-family: "Lato";
    color: #929292;
    font-weight: 400;
    margin-bottom: 40px; }
  .works__text {
    font-size: 14px;
    font-family: "Lato";
    color: #929292;
    margin-bottom: 40px; }
  .works__button {
    width: 160px;
    height: 40px;
    border: 1px solid #929292;
    color: #929292;
    font-family: "Lato";
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
    .works__button:hover {
      border: 1px solid #acacac;
      color: #acacac; }
  .works-images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 870px;
        -ms-flex-preferred-size: 870px;
            flex-basis: 870px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    padding-bottom: 40px; }
  .works__image {
    max-width: 285px;
    max-height: 220px;
    margin: 3px 3px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .works__image:hover {
      -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
              box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1.01);
          -ms-transform: scale(1.01);
              transform: scale(1.01); }

.imgaeswrapper {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

@media screen and (max-width: 1190px) {
  .works-descr {
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px; } }

.hc-out {
  background: #efefef; }

.happpy-customers {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0 60px 0; }
  .happpy-customers__header {
    font-size: 16px;
    font-family: "Lato";
    color: #454545;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px; }
  .happpy-customers__subheader {
    font-family: "Lato";
    font-size: 20px;
    color: #878686;
    font-weight: 400;
    margin-bottom: 50px; }

.customer {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }
  .customer_sec {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .customer__desc-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 15px; }
    .customer__desc-wrapper_sec {
      margin-right: 0;
      margin-left: 15px; }
  .customer__name {
    font-size: 14px;
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 900;
    color: #2d2d30;
    text-align: right; }
    .customer__name_sec {
      text-align: left; }
  .customer__profession {
    font-size: 16px;
    font-family: "Lato";
    color: #929292;
    font-weight: 400;
    text-align: right; }
    .customer__profession_sec {
      text-align: left; }
  .customer__review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    margin-left: 15px;
    max-width: 530px;
    background: #fff; }
    .customer__review_sec {
      margin-left: 0;
      margin-right: 15px; }
    .customer__review__text {
      font-size: 20px;
      font-family: "Lato";
      color: #878686;
      padding: 30px; }
    .customer__review__triangle {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-right: 8px solid #fff;
      border-bottom: 8px solid transparent;
      margin-left: -8px; }
      .customer__review__triangle_sec {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 8px solid #fff;
        border-bottom: 8px solid transparent;
        margin-right: -8px; }

@media screen and (max-width: 425px) {
  .customer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .customer__desc-wrapper {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .customer__photo {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1;
      margin: 3px 0; }
    .customer__review {
      margin: 5px 0; }
      .customer__review__triangle {
        display: none; }
        .customer__review__triangle_sec {
          display: none; } }

.ftb-outside {
  background: #f7f7f7; }

.blog {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 90px 0;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .blog__descwrapper {
    max-width: 270px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 300px; }
  .blog__header {
    font-size: 16px;
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px; }
  .blog__subheader {
    font-size: 16px;
    font-family: "Lato";
    color: #878686;
    font-weight: 400;
    margin-bottom: 20px; }
  .blog__description {
    font-size: 14px;
    font-family: "Lato";
    color: #8a8a8a;
    margin-bottom: 30px; }
  .blog__button {
    margin-left: 0; }
  .blog__postscarousel {
    max-width: 890px;
    padding-left: 10px;
    overflow: hidden; }
  .blog__post {
    max-width: 270px;
    margin: 0 10px;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); }
    .blog__post__image {
      max-width: 100%; }
    .blog__post__header {
      font-size: 13px;
      font-family: "Lato";
      color: #454545;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 15px; }
    .blog__post__text {
      font-size: 14px;
      font-family: "Lato";
      color: #8a8a8a; }

.twrap {
  padding: 25px;
  background-color: #fff; }

@media screen and (max-width: 1169px) {
  .blog__descwrapper {
    max-width: 100%;
    padding: 0 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog__description {
    text-align: center; } }

footer {
  background: #2d2d30;
  min-height: 100px; }

.footer {
  max-width: 1170px;
  margin: 0 auto; }
  .footer__text {
    color: #f7f7f7;
    font-size: 14px;
    font-family: "Lato";
    float: right;
    line-height: 100px;
    padding-right: 200px; }

@media screen and (max-width: 600px) {
  .footer__text {
    padding-right: 10px; } }

@media screen and (max-width: 320px) {
  .footer__text {
    padding-right: 5px;
    font-size: 12px; } }

@media screen and (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .header__logo {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    .header__menu {
      display: none;
      position: absolute;
      top: 70px;
      background: #2d2d30;
      z-index: 9999;
      -webkit-border-radius: 0 0 0 5px;
              border-radius: 0 0 0 5px;
      width: 100%;
      text-align: center;
      font-size: 30px; }
    .header__burger {
      display: block; } }

.activeLink {
  border-bottom-color: #f7f7f7; }
